@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.5/css/lightbox.min.css");

@font-face {
    font-family: 'Asgard Fit Fat';
    font-style: normal;
    src: url("../fonts/AsgardTrial-FitFat.ttf") format("opentype");
}

@font-face {
    font-family: 'Lostar';
    font-style: normal;
    src: url("../fonts/lostar.ttf") format("opentype");
}

@font-face {
    font-family: 'Asgard Fit Bold';
    font-style: normal;
    src: url("../fonts/AsgardTrial-FitBold.ttf") format("opentype");
}

@font-face {
    font-family: 'Asgard Fit Regular';
    font-style: normal;
    src: url("../fonts/AsgardTrial-FitRegular.ttf") format("opentype");
}

@keyframes random-shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    40% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}


@keyframes random-shake2 {
    0% {
        transform: rotate(0deg) scale(1);
    }

    20% {
        transform: rotate(2deg) scale(1);
    }

    40% {
        transform: rotate(1deg) scale(1.02);
    }

    60% {
        transform: rotate(-1deg) scale(1);
    }

    80% {
        transform: rotate(1deg) scale(1.04);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.random-shake {
    animation: random-shake 1s infinite !important;
}
.random-shake-2 {
    animation: random-shake2 1s infinite !important;
}
.shine {
    display: inline-block;
    animation: random-shake 1s infinite !important;
    color: #fcc400;
}

.regular {
    font-family: 'Asgard Fit Regular';
}

.card-title {
    font-family: 'Asgard Fit Bold', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}

.title {
    font-family: 'Asgard Fit Fat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.marker-below {
    position: relative;
    display: inline-block;
}

.marker-below::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 30px;
    /* ajuste a altura conforme seu PNG */
    background: url('../img/marker.png') no-repeat center bottom;
    background-size: contain;
    pointer-events: none;
    /* Dá um espaço extra para a imagem não cortar o texto */
    transform: translateY(5px);
    z-index: -1;
}

.text-yellow {
    color: #fcc400 !important;
}

.title-2 {
    font-family: 'Asgard Fit Fat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

body {
    background: linear-gradient(45deg, #07003d, #000000, #07003d);
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.logo span:first-child {
    color: white;
}

.logo span:last-child {
    color: #fcc400;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.bento-img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
}

.bg-dark-2 {
    background-color: #1a1a2e;
}

.navbar_top {
    display: flex;
    align-items: center;
    background-color: #0f0f2788;
    backdrop-filter: blur(10px);
    border: 1px solid #9393cc17;
    padding: 0.5rem 1rem;

    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    max-width: 1200px;
    /* largura máxima desejada */
    width: 90%;
    /* largura responsiva, pode ajustar */

    z-index: 1000;
    border-radius: 1rem;
    /* deixa bordas arredondadas visíveis */
}

.navbar-toggler {
    border: none;
    color: white;
}

.offcanvas {
    background: linear-gradient(0deg, #07003d, #000000);
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw;
    border-right: none;
    border-radius: 0;
    padding: 0;
}

.offcanvas .offcanvas-body {
    padding: 20px;
}

.offcanvas .offcanvas-header {
    padding: 1rem;
    /* se quiser manter algum padding no topo */
}

.offcanvas .nav-link {
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
}

.lead {
    font-family: 'Asgard Fit Regular';
    font-size: 1.3em;
}

header {
    padding: 100px 0px !important;
}

.logo-white {
    filter: brightness(0) invert(1);
    max-height: 60px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-white:hover {
    transform: scale(1.1);
}

#floating-lights-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.light-glow {
    position: absolute;
    width: 250px;
    opacity: 0.1;
    animation-name: floatAround;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floatAround {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(30px, -20px) rotate(15deg);
    }

    50% {
        transform: translate(-20px, 30px) rotate(0deg);
    }

    75% {
        transform: translate(25px, 10px) rotate(-10deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.logo-white {
    filter: brightness(0) invert(1);
    max-height: 60px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-white:hover {
    transform: scale(1.1);
}

.service_card {
    backdrop-filter: blur(10px);
    background: linear-gradient(-45deg, #18105570, rgba(0, 0, 0, 0.2));
    border: 1px solid #1e184bb3;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 20px 7px #1810552b;
}

.cta_card {
    backdrop-filter: blur(10px);
    background: linear-gradient(313deg, #ffc4005c, rgb(5 0 44));
    border: 1px solid #ffc400;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 20px 7px #1810552b;
}

.social-button {
    backdrop-filter: blur(10px);
    background: linear-gradient(to top, #1e184b, rgba(0, 0, 0, 0.2));
    border: 1px solid #1e184b;
    border-radius: 10px;
    font-size: 2em;
    padding: 30px;
    color: #ffc400 !important;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 7px 6px #0e06561f;
}

.social-button:hover {
    background: linear-gradient(-45deg, #ffc400, #ffc400);
    border: 1px solid #1e184bb3;
    color: #1e184b !important;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 7px #1e184b48;
}

.mouse {
    width: 50px;
    height: 90px;
    border: 3px solid #fff;
    border-radius: 60px;
    position: relative;
    scale: 0.5;
}

.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.5s infinite;
    -webkit-animation: wheel 1.5s infinite;
}

@keyframes wheel {
    to {
        opacity: 10%;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 10%;
        top: 60px;
    }
}

.btn {
    font-family: "asgard fit regular";
    text-transform: uppercase;
}